
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(4, 51, 4, 0.901);
}
h5{
    font-size: 18px !important;
    color: #fff !important;
    font-weight: 400;
    
}
p#player-name{
    color: rgb(186, 175, 175);
    font-size: 24px;
    padding: 0;
}
p{
    color: #fff;
    font-size: 14px;
    justify-content: justify !important;
}