@import url("../vendor/fonts/Nunito/Nunito-VariableFont_wght.ttf");
@import url("../vendor/fonts/Poppins/Poppins-Black.ttf");

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --body-color: #efefef;
  --nav-color: #1876f2;
  --bg-color: #fff;
  --body-text-color: #626262;
  --link-text-color: #1876f2;
  --post-text-color: #9a9a9a;
  --event-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  --hover-bg: ;
}


.dark-theme{
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
  --body-text-color: #fff;
  --link-text-color: #1876f2;
  --post-text-color: #fff;
  --event-box-shadow: 0 0 2px  #9a9a9a;
  
}
body{
  background: rgb(38,201,38);
background: radial-gradient(circle, rgba(38,201,38,0.9251050762101716) 5%, rgba(151,226,139,1) 49%, rgba(255,255,255,1) 87%);
}