*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(4, 51, 4, 0.901);
    position: relative;
}

.table img{
    width: 60px;
    height: 60px;
}
td{
    color: rgb(210, 205, 205) !important;
}
h5{
    font-size: 18px !important;
    color: black!important;
    font-weight: 400;
    
}
p#player-name{
    color: rgb(198, 30, 30);
    font-size: 24px;
    padding: 0;
}
p{
    color: black !important;
    font-size: 12px;
    justify-content: justify !important;
}

img{
    width: 150px;

}
.modal {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    gap: 0.4rem;
    width: 996px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 6%;
    overflow: scroll;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 26px 368px;
    transition: 0.5s all;
    
  }

  #spinner{
    display: none;
  }
  .center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background: red; */
    animation: ring 2s linear ;
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
   
}
.ring::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);

}
span{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}
@keyframes text{
    50%{
        color: black;
    }
}